segment_*.png
segment_*.t3s

background_*.png
background_*.t3s

console_*.png
console_*.t3s

romfs/gfx/*
!romfs/gfx/.gitkeep
build/*
!build/.gitkeep
source/std/GW_ROM/*
!source/std/GW_ROM/.gitkeep
source/std/GW_ROM_RGDS/*
!source/std/GW_ROM_RGDS/.gitkeep

CONVERT_ROM/tmp/img/*
!CONVERT_ROM/tmp/img/.gitkeep
CONVERT_ROM/rom/*
!CONVERT_ROM/rom/.gitkeep

*.pyc

games_path.py
games_path_*.py

Yokoi*.3dsx
Yokoi*.elf
Yokoi*.cia
Yokoi*.smdh

.DS_Store
Thumbs.db   

android/app/build
android/app/captures 
android/app/outputs
android/.gradle
android/app/.cxx
android/build
android/app/release
android/app/embedded
android/app/rompackOnly

*.ykp
